extends ./root
include ../mixins/lists

block page_main_content
  .row
    .col-md-9
      section#page-content
        block content
    .col-md-3
      aside.page-aside
        block aside
        include ../includes/aside_ad
        if (popularQuotes)
          .group
            .group-title
              h3= __('pupular_questions')
            .group-content
              +fineQuestions(popularQuestions)
